$primary-color : #005dff;
$base-padding : 13px; 
$card-bg-color: #fff;
$border-radius: 15px;
$color-white : #fff;
$base-margin: 15px;
$accet-color: #fff6bb;
$font-btn:16px;
$primary-color-light: lighten(#005dff, 40%);
$desktop: 850px;